body {
    font-family: Arial;
    background: #f2f2f2;
}

form {
    background: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 8px;
}

button {
    padding: 10px;
    background: #0a7d6c;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 13px;
}

#passwordStrength {
    font-size: 13px;
}
