* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.main{
    height: 70vh;
}

.top-bar {
    background: #0a7d6c;
    color: white;
    font-size: 14px;
    height: 120px;
}

.top-bar-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #0a7d6c;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #8c8c8c;
}
.nav a:hover{
    color: #333;
}

.top-row{
    max-width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.catalog{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search {
    display: flex;
    margin-bottom: 25px;
}

.search input {
    width: 800px;
    height: 40px;
    border: 1px solid #ccc;
}

.search button {
    height: 40px;
    border: none;
    background: #0a7d6c;
    color: white;
    cursor: pointer;
}

.types{
    width: 1200px;
    height: 50px;
    margin: auto;
    color: black;
    display: flex;
    justify-content: left;
    gap: 30px;
    align-items: center;
}

.types p:hover{
    background-color: gray;
    padding:10px ;
}


.checkbox {
    display: flex;
    gap: 5px;
}


.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: center;
}


.card {
    width: calc(25% - 20px);
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
    background: white;
}

.card img {
    width: 100%;
    height: auto;
}

.title {
    font-size: 14px;
    margin: 10px 0;
}

.price {
    color: #0a7d6c;
    font-weight: bold;
}


.discount {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 4px;
}

.slider {
  width: 1200px;
  height: 400px;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease;
}

.slides img {
  width: 1200px;
  height: 400px;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  font-size: 30px;
  padding: 8px 14px;
  cursor: pointer;
  z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: white;
}


@media (max-width: 768px) {

    .header {
        flex-direction: column;
        gap: 15px;
    }

    .search {
        flex-direction: column;
    }

    .search button {
        width: 100%;
    }

    main {
        flex-direction: column;
    }

    .filter {
        width: 100%;
    }

    .card {
        width: 100%;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .card {
        width: calc(50% - 20px);
    }
}