* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    height: 100px;
}


.top-bar {
    background: #0a7d6c;
    color: white;
    font-size: 14px;
    height: 120px;
}

.top-bar-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #0a7d6c;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.top-row{
    max-width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.catalog{
    width: 500px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search {
    display: flex;
    margin-bottom: 25px;
}

.search input {
    width: 600px;
    height: 40px;
    border: 1px solid #ccc;
}

.search button {
    height: 40px;
    border: none;
    background: #0a7d6c;
    color: white;
    cursor: pointer;
}

.separator{
    width: 100%;
    height: 50px;
    background-color: rgb(227, 227, 227);
    border: 1px solid gray;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main {
    display: flex;
    gap: 30px;
}


.filter {
    width: 250px;
    border: 1px solid #ddd;
    height: 250px;
}

.filter h3 {
    margin-bottom: 15px;
}

.filter input {
    width: 100%;
    margin: 5px 0 15px;
    padding: 5px;
}

.checkbox {
    display: flex;
    gap: 5px;
}


.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
}


.card {
    width: calc(33.333% - 20px);
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
    background: white;
}

.card img {
    width: 100%;
    height: auto;
}

.title {
    font-size: 14px;
    margin: 10px 0;
}

.price {
    color: #0a7d6c;
    font-weight: bold;
}


.discount {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 4px;
}



@media (max-width: 768px) {

    .header {
        flex-direction: column;
        gap: 15px;
    }

    .search {
        flex-direction: column;
    }

    .search button {
        width: 100%;
    }

    .main {
        flex-direction: column;
    }

    .filter {
        width: 100%;
    }

    .card {
        width: 100%;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .card {
        width: calc(50% - 20px);
    }
}